body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(24,10,27,1) 39%);

}

.background {
    background-image: url('sunset.png');
    background-repeat: repeat-x;
    position: absolute;
    height: 100%;
    width: 100%;
    animation: background-scroll 30s linear infinite;
    z-index: -1;
}

.sun{
    background-image: url('sun.png');
    background-size: 110px 110px;
    background-repeat: no-repeat;
    position: absolute;
    width: 110px;
    height: 110px;
    top: 135px;
    left: 30%;
    z-index: 0;
}

.nubes{
    background-image: url('nubes.png');
    background-repeat: repeat-x;
    background-size: 508px 286px;
    width: 100%;
    height: 50%;
    animation: nubes-scroll 240s linear infinite;
    position: absolute;
    z-index: 1;
}


.persona{

    background-image: url('persona.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    /* animation: nubes-scroll 240s linear infinite; */
    position: absolute;
    top:15%;
    left: 30%;
    z-index: 2;
    animation: caminar 1.8s steps(6) infinite;
}

@media (max-width: 416px) {
.persona{

    background-image: url('persona.png');
    background-repeat: no-repeat;
    background-size: 140px 60vh;
    width: 100%;
    height: 100%;
    /* animation: nubes-scroll 240s linear infinite; */
    position: absolute;
    top:55vh;
    left: 30%;
    z-index: 2;
    animation: caminar 1.8s steps(6) infinite;
}

body{
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(24,10,27,1) 3vh);
}
@media (min-height: 420px){
    .persona{
        background-size:70vh;
        top:30vh ;
    }
}

}


@keyframes caminar {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}


@keyframes background-scroll {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 1000px 0px;
    }
}


@keyframes nubes-scroll {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 2000px 0px;
    }
}
